include partials/header.pug
.container
  include partials/navigation.pug
  include partials/aboutUs.pug
  include partials/experince.pug
  include partials/services.pug
  include partials/team.pug
  include partials/gallery.pug
  include partials/timing.pug


  