.container
  .aboutUs About Us
  .content 
    .content1
      .photo
        img(src='./../assets/aboutus1.jpg',alt='aboutUs')
      .data.
         The word SEWA is a very common pure ancient Indian name meaning "Service" from Heart. Our Cityscape Calgary physiotherapy, Chiropractor & Massage Clinic is provide the royal and best treatment to our clients with best conservative treatment available to us. We will try our best to help our client to enjoy their life with pain free. Our services includes Physiotherapy, Massage, Chiropractor,Acupuncture,Dietitian,Yoga/Meditation etc. It is located in CityScape, Northeast, Calgary and focus mainly on NE Calgary, Cityscape, Skyview, Redstone, Savanna, Saddleridge, Martindale and Taradale community along with other communities of Calgary. 
    .content1
      .photo
        img(src='./../assets/aboutus2.jpg',alt='aboutus1')
      .data.
           Our objective is to develop friendly relationship with our clients and professional relationships with a number of Physicians, Insurance companies, leaders in the community. Return to the activities you love with a custom treatment plan using our extensive and progressive range of services. Whether your injury is sport, work, or daily-life related, we’ll help you return to your pre-injury activities in even better shape than before.
           At SEWA CityScape Physiotherapy and Massage Clinic, we are focused on promoting and preserving the health and well being of our patients.We will be treating patients with Motor vehicle accidents, Work related injuries through WCB, Sports injuries, Regular private clients, Clients with EHC, Neurological, vestibular clients etc. We will be doing direct billing with their insurance companies so that they don't have to worry for sending documents to insurance companies and can concentrate on their treatment
   