.container
  .experince Experince
  .contentexp
    .content1
      .dataL Sewa is best physiotherpahy
      .dataR Sewa physiotherpahy was established on the premise that we deliver the best sewa and don’t waste time with outdated treatment techniques. We are constantly refining and improving how we look at the body and how we can positively impact it.
    .content1
      div
        h2.data1 SEWA IS NOT RUSHED.
        hr
        p.data11.
                Thorough assessment is the cornerstone for successful rehabilitation, this takes time, as does the proper application of treatment. Initial consultation: 60 mins. Standard Follow-up: 30 mins. We would like to see you for a longer time so that we don’t need to see you a lot of times
      
      div         
        h2.data1 WE TREATS ONE PERSON AT A TIME.
        hr
        p.data11.
                Your health deserves 100% of our attention, that is why we don’t juggle numerous patients in one time slot. Through this, we can ensure your treatment is unique to your needs, all your questions get answered and you’re back to your best in the quickest time possible.

