.gallery_container
  .gallery Gallery
  .gallery_content
    .photo1
       img(src='./../assets/g1.jpg')
    .photo1
       img(src='./../assets/g2.jpg')
    .photo1
       img(src='./../assets/g3.jpg')
    .photo1
       img(src='./../assets/g4.jpg')
    .photo1
       img(src='./../assets/g5.jpg')
    .photo1
       img(src='./../assets/g6.jpg')
    .photo1
       img(src='./../assets/g7.jpg')
    .photo1
       img(src='./../assets/g8.jpg')    
