<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
   
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='theme-color', content='#f0544c')
    link(rel="stylesheet", href="dist/app.css")
    title Sewa Physio
  body