nav
  .nav_container
    img(src='./../assets/frontImg.jpg' alt='headphoto' )
  ul.ulist
    li.liList
      a(href="#") Home
    li.liList
      a(href="#") About
    li.liList
      a(href="#") Services
    li.liList
      a(href="#") Team
    li.liList
      a(href="#") Gallery 
    li.liList
      a(href="#") Appointments
    li.liList
      a(href="#") mail us
  .logo
      img(src='./../assets/logo.png' alt="logo")  
  .welcome Welcome to Sewa Physiotherapy
  button.appointment Book Appointment
  .arrow &darr
      
           