.service_container
  h2.services Services
  .service_content
    .s1
       img(src='./../assets/icon.png')
       h3 PHYSIOTHERAPY
       .s1_data.
                Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well.
       a(href='#') see more
    .s1
       img(src='./../assets/icon.png')
       h3 PHYSIOTHERAPY
       .s1_data.
               Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well.
    .s1
       img(src='./../assets/icon.png')
       h3 PHYSIOTHERAPY
       .s1_data.
               Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well.
    .s1
       img(src='./../assets/icon.png')
       h3 PHYSIOTHERAPY
       .s1_data.
               Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well.
    .s1
        img(src='./../assets/icon.png')
        h3 PHYSIOTHERAPY
        .s1_data.
                 Physiotherapy is a health care profession which assists people to restore, maintain and maximize their strength, function, movement, and overall well-being. Physiotherapy can be use as a part of treatment or to prevent injuries as well. 
   
    
   