.timing_container
   .timing  OPENING HOURS
   h4.holiday We are closed on Canadian Statutory Holiday's
   .timing_content 
     .days 
       h3 Days
       .day Monday
       .day Tuesday
       .day Wednesday
       .day Thusday
       .day Friday
       .day Saturday
       .day Sunday

     .days
       h3 Timeing
       .day Monday
       .day Tuesday
       .day Wednesday
       .day Thusday
       .day Friday
       .day Saturday
       .day Sunday
        
        
      
      
     
